<% title t('search.results_title', query: params['form-input']) %>
<div class="container">
  <% if @search_results.empty? %>
    <div class="well">
      <div class="row">
        <div class="col-md-12">
          <h1><%= t('search.results_not_found') %></h1>
          <p class="lead"><%= t('search.results_not_found_description_html', search_query: params['form-input']) %></p>
          <p><%= t('search.results_not_found_helper_html', link_to_home: link_to(t('search.link_to_home'), root_path) )%></p>
        </div>
      </div>
    </div>
  <% else %>
  <% @search_results.each { |_, details| %>
    <div class="well">
      <div class="row">
        <div class="col-md-4">
          <h2><%= t('search.result_constituency_description_html', member_title: details["constituency_type"].member_title_abbreviation, constituency_link: link_to(details["constituency"].name, details["constituency"]), count: details["constituency_type"].member_title_abbreviation.pluralize(details["representatives"].count)) %></h2>
          <p>
            <%= details["constituency_type"].short_description %>
          </p>
        </div>
        <div class="col-md-8">
          <ul class="list-unstyled">
            <% for rep in details["representatives"] %>
              <li>
                  <span class="lead"><%= link_to rep.person.name, rep.person %> <span class="text-muted"><%= rep.person.current_party ?  "(#{rep.person.current_party.name})" : "" %></span></span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% } %>
  <% end %>
</div>
