<% title "2015 | Year in Review" %>
<% meta_tag :og_image, image_url('yir-og-image.png') %>
<% meta_tag :description, 'Check out WhoIsMyTD.com\'s 2015!' %>
<div class="container">
  <div class="row">
    <div class="col-md-12 about-page">
      <h1>Year in review: 2015</h1>
      <p class="lead">
        As 2015 draws to a close, like many other websites we thought it would be appropriate to reflect on the last twelve months.
      </p>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Representatives listed</h3>
            </div>
            <div class="panel-body yir-panel text-center">
              1,185
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">People who used the site</h3>
            </div>
            <div class="panel-body text-center yir-panel">
              93,004
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Busiest Day</h3>
            </div>
            <div class="panel-body text-center yir-panel">
              December 7th
            </div>
          </div>
        </div>
      </div>
      <h2>Most Popular Representatives</h2>
      <p class="lead">
        We took all the people listed in the system and ranked their popularity based on pageviews. Then we broke that list down again by their current positions.
      </p>
      <h3>Overall</h3>
      <p>
        Councillors dominated our top ten, with every single spot going to a member of one of Ireland's local authorities.
      </p>
      <p>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Position</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><%= link_to "Hugh McElvaney", person_path('hugh-mcelvaney') %></td>
              <td>Councillor</td>
            </tr>
            <tr>
              <td>2</td>
              <td><%= link_to "John O'Donnell", person_path('john-o-donnell') %></td>
              <td>Councillor</td>
            </tr>
            <tr>
              <td>3</td>
              <td><%= link_to "James Charity", person_path('james-charity') %></td>
              <td>Councillor</td>
            </tr>
            <tr>
              <td>4</td>
              <td><%= link_to "Niamh Kennedy", person_path('niamh-kennedy') %></td>
              <td>Councillor</td>
            </tr>
            <tr>
              <td>5</td>
              <td><%= link_to "Joe Queenan", person_path('joe-queenan') %></td>
              <td>Councillor</td>
            </tr>
            <tr>
              <td>6</td>
              <td><%= link_to "Jerome Scanlan", person_path('jerome-scanlan') %></td>
              <td>Councillor</td>
            </tr>
            <tr>
              <td>7</td>
              <td><%= link_to "Patrick McKee", person_path('patrick-mckee') %></td>
              <td>Councillor</td>
            </tr>
            <tr>
              <td>8</td>
              <td><%= link_to "Sharon Keogan", person_path('sharon-keogan') %></td>
              <td>Councillor</td>
            </tr>
            <tr>
              <td>9</td>
              <td><%= link_to "Maria Bailey", person_path('maria-bailey') %></td>
              <td>Councillor</td>
            </tr>
            <tr>
              <td>10</td>
              <td><%= link_to "Brendan Weld", person_path('brendan-weld') %></td>
              <td>Councillor</td>
            </tr>
          </tbody>
        </table>
      </p>
      <div class="row">
        <div class="col-md-6">
          <h3>TDs</h3>
          <p>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><%= link_to "Aodhán Ó Ríordáin", person_path('aodhan-o-riordan') %></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><%= link_to "Ruth Coppinger", person_path('ruth-coppinger') %></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><%= link_to "Billy Kelleher", person_path('billy-kelleher') %></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><%= link_to "Michael McNamara", person_path('michael-mcnamara') %></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td><%= link_to "Paul Murphy", person_path('paul-murphy') %></td>
                </tr>
                <tr>
                  <td>6</td>
                  <td><%= link_to "Barry Cowen", person_path('barry-cowen') %></td>
                </tr>
                <tr>
                  <td>7</td>
                  <td><%= link_to "Timmy Dooley", person_path('timmy-dooley') %></td>
                </tr>
                <tr>
                  <td>8</td>
                  <td><%= link_to "Bobby Aylward", person_path('bobby-aylward') %></td>
                </tr>
                <tr>
                  <td>9</td>
                  <td><%= link_to "Michael McGrath", person_path('michael-mcgrath') %></td>
                </tr>
                <tr>
                  <td>10</td>
                  <td><%= link_to "Catherine Byrne", person_path('catherine-byrne') %></td>
                </tr>
              </tbody>
            </table>
          </p>
        </div>
        <div class="col-md-6">
          <h3>Senators</h3>
          <p>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><%= link_to "Marie Louise O'Donnell", person_path('marie-louise-o-donnell') %></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><%= link_to "Paul Bradford", person_path('paul-bradford') %></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><%= link_to "David Cullinane", person_path('david-cullinane') %></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><%= link_to "Gerard Craughwell", person_path('gerard-craughwell') %></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td><%= link_to "James Heffernan", person_path('james-heffernan') %></td>
                </tr>
                <tr>
                  <td>6</td>
                  <td><%= link_to "Maurice Cummins", person_path('maurice-cummins') %></td>
                </tr>
                <tr>
                  <td>7</td>
                  <td><%= link_to "Paschal Mooney", person_path('paschal-mooney') %></td>
                </tr>
                <tr>
                  <td>8</td>
                  <td><%= link_to "Michael Mullins", person_path('michael-mullins') %></td>
                </tr>
                <tr>
                  <td>9</td>
                  <td><%= link_to "Thomas Byrne", person_path('thomas-byrne') %></td>
                </tr>
                <tr>
                  <td>10</td>
                  <td><%= link_to "Trevor Ó Clochartaigh", person_path('trevor-o-clochartaigh') %></td>
                </tr>
              </tbody>
            </table>
          </p>

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>MEPs</h3>
          <p>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><%= link_to "Lynn Boylan", person_path('lynn-boylan') %></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><%= link_to "Luke 'Ming' Flanagan", person_path('luke-ming-flanagan') %></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><%= link_to "Matt Carthy", person_path('matt-carthy') %></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><%= link_to "Nessa Childers", person_path('nessa-childers') %></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td><%= link_to "Liadh Ní Riada", person_path('liadh-ni-riada') %></td>
                </tr>
                <tr>
                  <td>6</td>
                  <td><%= link_to "Mairead McGuinness", person_path('mairead-mcguinness') %></td>
                </tr>
                <tr>
                  <td>7</td>
                  <td><%= link_to "Deirdre Clune", person_path('deidre-clune') %></td>
                </tr>
                <tr>
                  <td>8</td>
                  <td><%= link_to "Brian Hayes", person_path('brian-hayes') %></td>
                </tr>
                <tr>
                  <td>9</td>
                  <td><%= link_to "Brian Crowley", person_path('brian-crowley') %></td>
                </tr>
                <tr>
                  <td>10</td>
                  <td><%= link_to "Marian Harkin", person_path('marian-harkin') %></td>
                </tr>
              </tbody>
            </table>
          </p>

        </div>
        <div class="col-md-6">
          <h3>Councillors</h3>
          <p>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><%= link_to "Hugh McElvaney", person_path('hugh-mcelvaney') %></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><%= link_to "John O'Donnell", person_path('john-o-donnell') %></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><%= link_to "James Charity", person_path('james-charity') %></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><%= link_to "Niamh Kennedy", person_path('niamh-kennedy') %></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td><%= link_to "Joe Queenan", person_path('joe-queenan') %></td>
                </tr>
                <tr>
                  <td>6</td>
                  <td><%= link_to "Jerome Scanlan", person_path('jerome-scanlan') %></td>
                </tr>
                <tr>
                  <td>7</td>
                  <td><%= link_to "Patrick McKee", person_path('patrick-mckee') %></td>
                </tr>
                <tr>
                  <td>8</td>
                  <td><%= link_to "Sharon Keogan", person_path('sharon-keogan') %></td>
                </tr>
                <tr>
                  <td>9</td>
                  <td><%= link_to "Maria Bailey", person_path('maria-bailey') %></td>
                </tr>
                <tr>
                  <td>10</td>
                  <td><%= link_to "Brendan Weld", person_path('brendan-weld') %></td>
                </tr>
              </tbody>
            </table>
          </p>

        </div>
      </div>
      <h2>Technical Stuff</h2>
      <p class="lead">
        In the last 3 months of the year, we completely rewrote the software that powers the site and open sourced it as <em><%= link_to "Pobal", "https://github.com/colmdoyle/pobal" %></em>.
      </p>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Commits to Pobal</h3>
            </div>
            <div class="panel-body text-center yir-panel">
              187
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Lines of code in Pobal</h3>
            </div>
            <div class="panel-body text-center yir-panel">
              4,645
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Code coverage</h3>
            </div>
            <div class="panel-body text-center yir-panel">
              62%
            </div>
          </div>
        </div>
      </div>
      <h3>Overall Traffic</h3>
      <p>
        Overall, more and more people are using Who is my TD.
      </p>
      <p>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>2014</th>
              <th>2015</th>
              <th>Difference</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sessions</td>
              <td>48,942</td>
              <td>117,153</td>
              <td class="success">↑ 139.37%</td>
            </tr>
            <tr>
              <td>Users</td>
              <td>41,183</td>
              <td>93,004</td>
              <td class="success">↑ 125.83%</td>
            </tr>
            <tr>
              <td>Pageviews</td>
              <td>76,182</td>
              <td>190,911</td>
              <td class="success">↑ 150.60%</td>
            </tr>
          </tbody>
        </table>
      </p>
      <h3>Browsers</h3>
      <p>
        Google Chrome dominated our browsers charts, with 45% of sessions.
      </p>
      <p>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Browser</th>
              <th>Sessions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Chrome</td>
              <td>52,722</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Safari</td>
              <td>29,449</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Internet Explorer</td>
              <td>19,031</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Firefox</td>
              <td>7,737</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Android Browser</td>
              <td>5,669</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Safari (in-app)</td>
              <td>809</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Opera</td>
              <td>689</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Edge</td>
              <td>256</td>
            </tr>
            <tr>
              <td>9</td>
              <td>YaBrowser</td>
              <td>238</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Amazon Silk</td>
              <td>183</td>
            </tr>
          </tbody>
        </table>
      </p>
    </div>
  </div>
</div>
