<div class="media">
  <div class="media-left media-middle">
    <img class="media-object" src="<%= person.avatar.url(:thumb) %>" alt="<%= person.name %>">
  </div>
  <div class="media-body">
    <h2><%= link_to person.name, person %></h2>
    <ul class="list-unstyled">
      <% unless person.email.nil? %>
        <li><%= mail_to person.email %></li>
      <% end %>
      <% unless person.facebook.nil? %>
        <li><%= link_to "Facebook", person.facebook_url, target: "_blank" %></li>
      <% end %>
      <% unless person.twitter.nil? %>
        <li><%= link_to "twitter", person.twitter_url, target: "_blank" %></li>
      <% end %>
      <% unless person.phone_number.nil? %>
        <li><%= link_to person.phone_number, "tel:#{person.phone_number}", target: "_blank" %></li>
      <% end %>
      <% unless person.website.nil? %>
        <li><%= link_to "Website", person.website, target: "_blank" %></li>
      <% end %>
      <% unless person.postal_address.nil? %>
        <li><%= person.postal_address %></li>
      <% end %>
    </ul>
  </div>
</div>
