<% title "People" %>
<div class="container">
  <h1>People</h1>
  <div class="text-center">
    <ul class="pagination" role="group">
      <% ("A".."Z").each do |letter| %>
        <li class="<%= 'active' if current_page?(person_by_letter_path(letter)) %>">
          <%= link_to "#{letter}", person_by_letter_path(letter) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="well">
    <div class="table-responsive">
      <table class="table sortable-theme-bootstrap" data-sortable>
        <thead>
          <th>Name</th>
          <th>Position</th>
          <th>Party</th>
          <th>Constituency</th>
        </thead>
        <tbody>
          <% @people.each do |person| %>
            <% cache person do %>
            <tr>
              <td><%= link_to person.fullname, person %></td>
              <td><%= person.current_position ? person.current_position.position_type.title : "Former Representative" %></td>
              <td><%= person.current_party ? person.current_party.name : "Unknown" %></td>
              <td><%= person.current_constituency ? person.current_constituency.name : "" %></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-center">
    <%= will_paginate @people, renderer: BootstrapPagination::Rails %>
  </div>
</div>
