<div class="container">
  <div class="row">
    <div class="col-md-2">
      <img alt="<%= @person.name %>" class="img-responsive img-rounded center-block" src="<%= @person.avatar.url(:small) %>">
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <h1><%= @person.name %></h1>
          <% if @person.current_position && @person.current_position %>
          <p class="lead"><%= "#{@person.current_party.name} #{@person.current_position.position_type.title} for #{@person.current_position.constituency.name}"  %>  </p>
          <% end %>
        </div>
      </div>
      <div class="row">
        <% if @person.current_party %>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body info-panel">
              <img alt="<%= @person.current_party.name %>" class="img-responsive center-block" src="<%= @person.current_party.avatar.url(:thumb) %>">
            </div>
            <div class="panel-footer">
              <%= link_to @person.current_party.name, @person.current_party %>
            </div>
          </div>
        </div>
        <% end %>
        <% if @person.current_constituency %>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body info-panel" id="mini-map"></div>
            <div class="panel-footer"><%= link_to @person.current_constituency.name, @person.current_constituency %></div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Contact Details</h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <% unless @person.phone_number.nil? %>
            <li>
              <ul class="list-inline">
                <li>
                  <i class="fa fa-fw fa-phone"></i>
                </li>
                <li>
                  <%= link_to @person.phone_number, "tel:#{@person.phone_number}", target: "_blank" %>
                </li>
              </ul>
            </li>
            <% end %>
            <% unless @person.facebook.nil? %>
            <li>
              <ul class="list-inline">
                <li>
                  <i class="fa fa-fw fa-facebook"></i>
                </li>
                <li>
                  <%= link_to @person.facebook, @person.facebook_url, target: "_blank" %>
                </li>
              </ul>
            </li>
            <% end %>
            <% unless @person.twitter.nil? %>
            <li>
              <ul class="list-inline">
                <li>
                  <i class="fa fa-fw fa-twitter"></i>
                </li>
                <li>
                  <%= link_to @person.twitter, @person.twitter_url, target: "_blank" %>
                </li>
              </ul>
            </li>
            <% end %>
            <% unless @person.email.nil? %>
            <li>
              <ul class="list-inline">
                <li>
                  <i class="fa fa-fw fa-envelope"></i>
                </li>
                <li>
                  <%= mail_to @person.email %>
                </li>
              </ul>
            </li>
            <% end %>
            <% unless @person.website.nil? %>
            <li>
              <ul class="list-inline">
                <li>
                  <i class="fa fa-fw fa-globe"></i>
                </li>
                <li>
                  <%= link_to "Website", @person.website, target: "_blank" %>
                </li>
              </ul>
            </li>
            <% end %>
            <% unless @person.postal_address.nil? %>
            <li>
              <ul class="list-inline">
                <li>
                  <i class="fa fa-fw fa-building"></i>
                </li>
                <li>
                  <%= @person.postal_address %>
                </li>
              </ul>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Positions held</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <th>Body</th>
              <th>Title</th>
              <th>Constituency</th>
              <th>From</th>
              <th>To</th>
            </thead>
            <% for position in @person.positions %>
            <td><%= link_to position.body.name, position.body %></td>
            <td><%= position.position_type.title %></td>
            <td><%= position.constituency.name %></td>
            <td><%= position.start_date %></td>
            <td><%= position.end_date ? position.end_date : "Current" %></td>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Associations</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <th>Name</th>
              <th>From</th>
              <th>To</th>
              <th>Note</th>
            </thead>
            <% for membership in @person.memberships %>
            <td><%= link_to membership.group.name, membership.group %></td>
            <td><%= membership.start_date %></td>
            <td><%= membership.end_date ? membership.end_date : "Current" %></td>
            <td><%= membership.note %></td>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @person.current_constituency %>
<script type="text/javascript">
  var mapOptions = {
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    disableDefaultUI: false
  }
  var map = new google.maps.Map(document.getElementById("mini-map"), mapOptions);

  var ctaLayer = new google.maps.KmlLayer('http://maps.whoismytd.com/area/<%= @person.current_constituency.map_it_id %>.kml');
  ctaLayer.setMap(map);
</script>
<% end %>
