<% title "#{@person.fullname} | #{@person.current_position ? @person.current_position.position_type.title : 'Person'}" %>
<div class="container" itemscope itemtype="http://schema.org/Person">
  <div class="row">
    <div class="col-md-2">
      <p>
        <img alt="<%= @person.fullname %>" class="img-responsive img-rounded center-block" src="<%= @person.avatar.url(:small) %>" itemprop="image">
      </p>
      <div class="hidden-xs hidden-sm">
        <p>
          <% unless @person.phone_number.nil? %>
            <%= link_to "Call", "tel:#{@person.phone_number}", target: "_blank", itemprop: "telephone", class: "btn btn-primary btn-lg btn-block", onclick: "ga('send', 'event', 'button', 'phone', '#{@person.fullname}-#{@person.id}');" %>
          <% end %>
          <% unless @person.email.nil? %>
            <%= mail_to @person.email, class: "btn btn-primary btn-lg btn-block", onclick: "ga('send', 'event', 'button', 'email', '#{@person.fullname}-#{@person.id}');" do %>
              <span itemprop="email">Email</span>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <h1 itemprop="name"><%= @person.fullname %></h1>
          <% if @person.current_position && @person.current_party && @person.current_constituency &&  @person.current_position.position_type %>
          <p class="lead">
            <span itemprop='affiliation'><%= @person.current_party.name %></span> <span itemprop='jobTitle'><%= @person.current_position.position_type.title %> </span> for <%= @person.current_constituency.name %>
          </p>
          <% end %>
          <div class="hidden-md hidden-lg">
            <p>
              <% unless @person.phone_number.nil? %>
                <%= link_to "Call", "tel:#{@person.phone_number}", target: "_blank", itemprop: "telephone", class: "btn btn-primary btn-lg btn-block", onclick: "ga('send', 'event', 'button', 'phone', '#{@person.fullname}-#{@person.id}');" %>
              <% end %>
              <% unless @person.email.nil? %>
                <%= mail_to @person.email, class: "btn btn-primary btn-lg btn-block", onclick: "ga('send', 'event', 'button', 'email', '#{@person.fullname}-#{@person.id}');" do %>
                  <span itemprop="email">Email</span>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <% if @person.current_party %>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body info-panel text-center <% unless @person.current_party.avatar.file? %> blue-bg <% end %>">
              <% if @person.current_party.avatar.file? %>
                <img alt="<%= @person.current_party.name %>" class="img-responsive center-block" src="<%= @person.current_party.avatar.url(:thumb) %>">
                <% else %>
                <p class="info-panel-text">
                  <%= @person.current_party.name_initials %>
                </p>
                <% end %>
            </div>
            <div class="panel-footer">
              <%= link_to @person.current_party.name, @person.current_party %>
            </div>
          </div>
        </div>
        <% end %>
        <% if @person.current_constituency %>
        <div class="col-md-6">
          <div class="panel panel-default">
            <% if @person.current_constituency.map_it_id %>
            <div class="panel-body info-panel" id="mini-map"></div>
            <% else %>
            <div class="panel-body info-panel text-center blue-bg">
              <p class="info-panel-text">
                <%= @person.current_constituency.name_initials %>
              </p>
            </div>
            <% end %>
            <div class="panel-footer"><%= link_to @person.current_constituency.name, @person.current_constituency %></div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <%= render partial: "shared/contact_details_box", locals: {subject: @person} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Positions held</h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table sortable-theme-bootstrap" data-sortable>
              <thead>
                <th>Body</th>
                <th>Title</th>
                <th>Note</th>
                <th>Constituency</th>
                <th>From</th>
                <th>To</th>
              </thead>
              <tbody>
                <% for position in @person.positions %>
                <tr>
                  <td><%= link_to position.body.name, position.body %></td>
                  <td><%= position.position_type ? position.position_type.title : '' %></td>
                  <td><%= position.note %></td>
                  <td><%= position.constituency ? position.constituency.name : '' %></td>
                  <td><%= position.start_date ? position.start_date : 'Unknown' %></td>
                  <td><%= position.end_date ? position.end_date : 'Current' %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Associations</h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table sortable-theme-bootstrap" data-sortable>
              <thead>
                <th>Name</th>
                <th>Type</th>
                <th>From</th>
                <th>To</th>
                <th>Note</th>
              </thead>
              <tbody>
                <% for membership in @person.memberships %>
                <tr>
                  <td><%= link_to membership.group.name, membership.group %></td>
                  <td><%= membership.group.group_type.name %></td>
                  <td><%= membership.start_date ? membership.start_date : "Unknown" %></td>
                  <td><%= membership.end_date ? membership.end_date : "Current" %></td>
                  <td><%= membership.note %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @person.current_constituency &&  @person.current_constituency.map_it_id %>
<script type="text/javascript">
  var mapOptions = {
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    disableDefaultUI: false
  }
  var map = new google.maps.Map(document.getElementById("mini-map"), mapOptions);

  var ctaLayer = new google.maps.KmlLayer('https://maps.whoismytd.com/area/<%= @person.current_constituency.map_it_id %>.kml');
  ctaLayer.setMap(map);
</script>
<% end %>
