<div class="homepage">
  <div class="container">
    <div class="row billboard">
      <div class="col-md-8 col-md-offset-2">
        <h1>
          <%= t('homepage.headline') %>
        </h1>
        <p class="lead">
          <%= t 'homepage.sub_heading', representatives_count: number_with_delimiter(@representatives_count - 1) %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container search-area">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class="text-center lead">
        <%= t('homepage.address_prompt') %>
      </p>
      <%= form_tag search_index_path, {role: 'form', method: 'GET'} do %>
      <div class="input-group" id="form-search-group">
        <%= text_field_tag 'form-input', nil, placeholder: t('homepage.address_placeholder'), class: 'form-control', autocomplete: 'off' %>
        <span class="input-group-btn">
          <button class="btn btn-primary btn-search" id="form-submit" type="submit"><%= t('homepage.search_button') %></button>
        </span>
  		</div>
      <% end %>
      <p class="text-center">
        <small><%= t('homepage.address_explanation') %></small>
      </p>
    </div>
  </div>
</div>
<script>
  var input=document.getElementById('form-input');
  var options={componentRestrictions:{country:'ie'}};
  autocomplete=new google.maps.places.Autocomplete(input,options);
</script>
