<% cache @constituency do %>
<% title "#{@constituency.name} | #{@constituency.constituency_type.name}" %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @constituency.name %>
        <small><%= @constituency.constituency_type.name %></small>
      </h1>
    </div>
  </div>
  <% if @constituency.map_it_id %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Map</h3>
        </div>
        <div class="panel-body google-map">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% unless @current_members.empty? %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Current Members <span class="text-muted pull-right small"><%= render partial: "shared/report_a_problem_link", locals: { report_subject: @constituency.name, report_url: request.original_url }%></span></h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table sortable-theme-bootstrap" data-sortable>
              <thead>
                <th>Name</th>
                <th>Title</th>
                <th>Since</th>
              </thead>
              <tbody>
                <% for member in @current_members %>
                <tr>
                  <td><%= link_to member.person.fullname, member.person %></td>
                  <td><%= member.position_type.try(:title) %></td>
                  <td><%= member.start_date ? member.start_date : 'Unknown' %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% if @constituency.map_it_id %>
<script>
    var map = new L.Map("map");
    var osm = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data © OpenStreetMap contributors',
        maxZoom: 18
    });
    map.addLayer(osm);

    reqwest({
        url: "https://maps.whoismytd.com/area/<%= @constituency.map_it_id %>.geojson?simplify_tolerance=0.0001",
        type: 'json',
        success: function(data) {
            var area = new L.GeoJSON(data);
            map.addLayer(area);

            var bounds = new L.LatLngBounds();
            area._iterateLayers(function (layer) {
                if (layer instanceof L.MultiPolygon) {
                    layer._iterateLayers(function(layer2) {
                        var new_bounds = layer2.getBounds();
                        bounds.extend(new_bounds.getSouthWest());
                        bounds.extend(new_bounds.getNorthEast());
                    });
                }
                if (layer instanceof L.Polygon) {
                    bounds = layer.getBounds();
                }
            }, area);
            map.fitBounds(bounds);
        }
    });

</script>
<% end %>
<% end %>
