<% title "#{@election.name} | #{@election.body.name}" %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <h1><%= @election.name %></h1>
          <p class="lead">
            An election to <%= @election.body.name %>
          </p>
      </div>
      </div>
    </div>
  </div>
  <% unless @election.candidacies.empty? %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Groupings</h3>
        </div>
        <div class="panel-body group-breakdown">
          <div class="row">
            <% @group_breakdown.each do |group, count| %>
            <div class="col-md-<%= (12 / @group_breakdown.count).round %> text-center single-breakdown" style="background-color:<%= group.color ? group.color : 'inherit' %>">
              <%= group.name_initials %>
              <p class="breakdown-count">
                <%= count %>
              </p>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Candidates <span class="text-muted">(<%= @election.candidacies.count %>)</span><span class="text-muted pull-right small"><%= render partial: "shared/report_a_problem_link", locals: { report_subject: @election.name, report_url: request.original_url }%></span></h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table sortable-theme-bootstrap" data-sortable>
              <thead>
                <th>Name</th>
                <th>Constituency</th>
                <th>Party</th>
                <th>Note</th>
              </thead>
              <tbody>
                <% for candidacy in @election.candidacies %>
                <tr>
                  <td><%= link_to candidacy.person.name, candidacy.person %></td>
                  <td><%= link_to candidacy.constituency.name, candidacy.constituency %></td>
                  <td>
                    <% unless candidacy.person.current_party.nil? %>
                    <%= link_to candidacy.person.current_party.name, candidacy.person.current_party %>
                    <% end %>
                  </td>
                  <td><%= candidacy.note %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
