<% title "#{@group.name} | #{@group.group_type.name}" %>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <% if @group.avatar.file? %>
      <img alt="<%= @group.name %>" class="img-responsive img-rounded center-block" src="<%= @group.avatar.url(:small) %>">
      <% end %>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <h1><%= @group.name %></h1>
          <p class="lead">
            <%= @group.group_type.name %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% if @group.has_contact_details? %>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <%= render partial: "shared/contact_details_box", locals: {subject: @group} %>
    </div>
  </div>
  <% end %>
  <% if @group.description && @group.description.length > 0 %>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('general.about') %></h3>
        </div>
        <div class="panel-body">
          <p>
            <%= @group.description %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% if @group.current_members.length > 0 %>
  <%= render partial: "member_listing", locals: { panel_title: t('general.current_members'), members: @group.current_members }%>
  <% end %>
  <% if @group.former_members.length > 0 %>
  <%= render partial: "member_listing", locals: { panel_title: t('general.former_members'), members: @group.former_members }%>
  <% end %>
</div>
