<% title "#{_(@body.name)} | #{_(@body.body_type.name)}" %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <h1><%= _(@body.name) %></h1>
          <p class="lead">
            <%= _(@body.body_type.name) %>
          </p>
      </div>
      </div>
    </div>
  </div>
  <% if @body.description %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= _('About') %></h3>
        </div>
        <div class="panel-body">
          <p>
            <%= _(@body.description) %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% unless @current_members.empty? %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= _('Groupings') %></h3>
        </div>
        <div class="panel-body group-breakdown">
          <div class="row">
            <% @group_breakdown.each do |group, count| %>
            <% unless group.nil? %>
            <div class="col-md-<%= (12 / @group_breakdown.count).round %> text-center single-breakdown" style="background-color:<%= group.color ? group.color : 'inherit' %>">
              <%= _(group.name_initials) %>
              <p class="breakdown-count">
                <%= count %>
              </p>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><% _('Current Members') %> <span class="text-muted">(<%= @current_members.count %>)</span><span class="text-muted pull-right small"><%= render partial: "shared/report_a_problem_link", locals: { report_subject: @body.name, report_url: request.original_url }%></span></h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table sortable-theme-bootstrap" data-sortable>
              <thead>
                <th><%= _('Name') %></th>
                <% if @body.body_type.has_constituencies %>
                <th><%= _('Constituency') %></th>
                <% else %>
                <th><%= _('Type') %></th>
                <th><%= _('Note') %></th>
                <% end %>
                <th><%= _('Party') %></th>
                <th><%= _('Member since') %></th>
              </thead>
              <tbody>
                <% for member in @current_members %>
                <tr>
                  <td><%= link_to _(member.person.fullname), member.person %></td>
                  <% if member.constituency %>
                  <td><%= link_to _(member.constituency.name), member.constituency %></td>
                  <% else %>
                  <td><%= _(member.position_type.title) %></td>
                  <td><%= _(member.note) %></td>
                  <% end %>
                  <td>
                    <% unless member.person.current_party.nil? %>
                    <%= link_to _(member.person.current_party.name), member.person.current_party %>
                    <% end %>
                  </td>
                  <td><%= member.start_date ? member.start_date : _("Unknown") %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% unless @former_members.empty? %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><% _('Former Members') %> <span class="text-muted">(<%= @former_members.count %>)</span><span class="text-muted pull-right small"><%= render partial: "shared/report_a_problem_link", locals: { report_subject: @body.name, report_url: request.original_url }%></span></h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table sortable-theme-bootstrap" data-sortable>
              <thead>
                <th><%= _('Name') %></th>
                <% if @body.body_type.has_constituencies %>
                <th><%= _('Constituency') %></th>
                <% else %>
                <th><%= _('Type') %></th>
                <th><%= _('Note') %></th>
                <% end %>
                <th><%= _('Party') %></th>
                <th><%= _('Member until') %></th>
              </thead>
              <tbody>
                <% for member in @former_members %>
                <tr>
                  <td><%= link_to _(member.person.fullname), member.person %></td>
                  <% if member.constituency %>
                  <td><%= link_to _(member.constituency.name), member.constituency %></td>
                  <% else %>
                  <td><%= _(member.position_type.title) %></td>
                  <td><%= _(member.note) %></td>
                  <% end %>
                  <td>
                    <% unless member.person.current_party.nil? %>
                    <%= link_to _(member.person.current_party.name), member.person.current_party %>
                    <% end %>
                  </td>
                  <td><%= member.end_date ? member.end_date : _("Unknown") %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
